body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:213px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:429px;
  height:213px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:137px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:470px;
  width:429px;
  height:137px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:252px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:252px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:162px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:429px;
  height:162px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:278px;
  width:40px;
  height:45px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:220px;
  background:inherit;
  background-color:rgba(179, 179, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:252px;
  width:4px;
  height:220px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:109px;
  width:29px;
  height:16px;
  color:#666666;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:108px;
  width:10px;
  height:18px;
  font-size:9px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:43px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u94 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:98px;
  width:316px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:110px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:358px;
  width:398px;
  height:110px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:358px;
  width:406px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:136px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:394px;
  width:376px;
  height:135px;
  text-align:left;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:167px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:136px;
  width:376px;
  height:166px;
  text-align:left;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:76px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:51px;
  width:376px;
  height:75px;
  text-align:left;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:417px;
  width:406px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
